<div class="text-center">
    <h1 class="display-4">Explorando ViewBag e ViewData</h1>
    <p>AlgumaCoisa[VB]: @ViewBag.AlgumaCoisa</p>
    <p>OutraCoisa[VD]: @ViewData["OutraCoisa"]</p>
@{
    ViewBag.AlgumaCoisa= "ViW: Mudei o texto";
}
    <p>AlgumaCoisa[VB+]: @ViewBag.AlgumaCoisa</p>
</div>

